.ellipse {
    animation: leftToRight 5s linear infinite;
}

.ellipse2 {
    animation: topTobottom 5s linear infinite;
}

@keyframes leftToRight {
    0% {
        transform: rotateX(0deg) translateX(0);
    }
    50% {
        transform: rotateX(0deg) translateX(50px);
    }
    100% {
        transform: rotateX(0deg) translateX(0);
    }
}

@keyframes topTobottom {
    0% {
        transform: rotateY(0deg) translateY(0);
    }

    50% {
        transform: rotateY(0deg) translateY(50px);
    }

    100% {
        transform: rotateY(0deg) translateY(0);
    }
}

.sectionOne-Header {
    color: white;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    
}

.hero-btn {
    transition: all 0.5s ease-in-out;
}

.hero-btn::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 80px;
    width: 150px;
    height: 2px;
    background: linear-gradient(to left, rgb(0, 180, 224), rgba(3, 11, 21, 1), rgb(0, 180, 224));
}

.hero-btn::after {
    content: '';
    position: absolute;
    top: 57px;
    right: 80px;
    width: 150px;
    height: 2px;
    background: linear-gradient(to left, rgb(0, 180, 224), rgba(3, 11, 21, 1), rgb(0, 180, 224));
}

.hero-btn:hover::before {
    display: none;
}

.hero-btn:hover::after {
    display: none;
}

.hero-btn:hover {
    color: rgb(0, 180, 224);
}

@media screen and (max-width: 350px) {
    .hero-btn::before {
            right: 50px;
        }
        .hero-btn::after {
            right: 50px;
        }
}