.cards-transform {
    margin: 80px 0;
    rotate: z 90deg;
}

.swiper-3d .swiper-slide-shadow {
    background: none;
}

.cards-transform-details {
    margin: 100px 0;
    rotate: z 90deg;
}



@media screen and (min-width: 400px) and (max-width: 499px) {
    .user-card-name {
        top: 120px;
    }
}