.side-btn.active {
    background: linear-gradient(to right, rgb(60, 51, 165), rgb(88, 54, 141), rgb(105, 56, 126), rgb(127, 59, 107), rgb(157, 62, 81));
}

/* .side-btn-hover {
    position: relative;
}


.side-btn-hover::before {
    content: '';
    position: absolute;
    left: -5px;
    width: 2px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(60, 51, 165), rgb(88, 54, 141), rgb(105, 56, 126), rgb(127, 59, 107), rgb(157, 62, 81));
    opacity: 0;
    transition: opacity 1s ease;
}


.side-btn-hover:hover::before {
    opacity: 1;
} */
