/* For Firefox */
.glowing-border {
    border: 1px solid #016ac0;
    box-shadow: 0 0 10px #016ac0;
}

.swap-coin-data {
    scrollbar-width: thin;
    /* or auto or none */
    scrollbar-color: #333 #ddd;
    /* thumb color and track color */
}

/* For WebKit browsers */
.swap-coin-data::-webkit-scrollbar {
    width: 8px;
}

.swap-coin-data::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 10px;
}

.swap-coin-data::-webkit-scrollbar-thumb {
    background-color: #555;
    border: 1px solid #555;
    border-radius: 10px;
}

/* Styling for the thumb when being hovered */
.swap-coin-data::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}